{# templates/Layouts/layout2.html.twig #}
{% extends '/Layouts/layout1.html.twig' %}

{% block body %}
    <div id="header">
        {%  block header %}{% endblock %}
    </div>

    <div id="menu" style="display: none">
        {{ render(controller('App\\Controller\\AccueilController::menuAction')) }}
    </div>

    <div id="vue">
        {% block vue %}{% endblock %}
    </div>

    <div id="footer">
        {#<img src="">#}
    </div>
{% endblock %}