{# templates/produit/creation.html.twig #}
{% extends '/Layouts/layout2.html.twig' %}

{% block title %}Créer un produit{% endblock %}


{% block body %}
     <h1>Création d'un nouveau produit </h1>
    {{form(creationProduitForm)}}
{% endblock %}