{# templates/accueil/creation.html.twig #}
{% extends '/Layouts/layout2.html.twig' %}

{% block title %}Créer un compte{% endblock %}


{% block body %}
     <h1>Création d'un nouveau compte </h1>
    {{form(creationCompteForm)}}
{% endblock %}