{# templates/accueil/connexion.html.twig #}
{% extends '/Layouts/layout2.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}
    <h1>Vous pourrez bientôt vous connecter</h1>
{% endblock %}
