{# templates/accueil/index.html.twig #}
{% extends '/Layouts/layout2.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}
    <h1>Hello {{ nature }}! ✅</h1>
    <p><a href="#" onclick="document.getElementById('menu').style.display='block'">Menu</a></p>
{% endblock %}

{% block vue %}
    <ul>
        {% for msg in app.session.flashBag.get('info') %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
{% endblock %}
