{# templates/accueil/menu.html.twig #}
<p>Nombre de produits disponibles : {{ produits }}</p>
<ul>
    {% set i = 0 %}
    {% for onglet in onglets %}
        <li>{#<a href="{{ path(routes[i]) }}">#}
                {{ onglet }}
            {#</a>#}
        </li>
    {% set i = i+1 %}
    {% endfor %}

    {% if admin %}
        <li><a href="https://fr.wikipedia.org/wiki/Amour_et_Amn%C3%A9sie">
                Mode Administrateur
            </a>
        </li>
    {% endif %}
    <li><a href="{{ path('accueil_deconnexion') }}">Deconnexion</a></li>
</ul>